$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(./images/background.jpg);
$portrait-image: url(./images/portrait.jpg);
$portrait-image-small: url(/* ../images/portrait_small.jpg */);
$background-opacity: 0.9;
$menu-opacity: 0.9;
$primary-cell-color: lighten($primary-color, 50);
$secondary-cell-color: darken($primary-color, 5);

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 200%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// media query mixins
@mixin mediaXl {
  //XL
  @media screen and (min-width: 1200px) {
    @content;
  }
}
@mixin mediaLg {
  //Large
  @media screen and (min-width: 850) and (max-width: 1200px) {
    @content;
  }
}
@mixin mediaMd {
  //Medium
  @media screen and (max-width: 850px) {
    @content;
  }
}
@mixin mediaSm {
  // Small
  @media screen and (max-width: 600px) {
    @content;
  }
}
