#minesweeper-container {
  width: 100%;
  margin-bottom: 2rem;
  .lg-heading {
    margin: 4rem;
  }
}

#minesweeper {
  display: grid;
  width: 700px;
  font-size: 1rem;
  margin: auto;
  grid-template-areas:
    "board infos"
    "board buttons";
  grid-template-columns: 8fr 2fr;
  #board {
    grid-area: board;
    display: grid;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
    cursor: pointer;
    .cell {
      border: solid thin $secondary-cell-color;
      margin: 2%;
      border-radius: 10%;
      padding-bottom: 100%;
      position: relative;
      background-color: $primary-cell-color;
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
      color: $secondary-color;
      &.hidden {
        border: solid thin $primary-cell-color;
        background-color: $secondary-cell-color;
        color: set-text-color($secondary-cell-color);
        &:hover {
          color: set-text-color($secondary-color);
          box-shadow: 1px 1px 5px black;
          background-color: $secondary-color;
        }
      }
      div {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 50%;
        font-size: 1rem;
        transform: translate(0, -50%);
        text-align: center;
      }

      &.lose {
        background-color: tomato;
      }

      &.good {
        background-color: #2ecc71;
      }

      &.bomb {
        color: set-text-color($primary-cell-color);
      }

      .n1 {
        color: #1e3799;
      }

      .n2 {
        color: #27ae60;
      }

      .n3 {
        color: #c0392b;
      }

      .n4 {
        color: #0c2461;
      }

      .n5 {
        color: #cd6133;
      }
    }
  }
  .button {
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    cursor: pointer;
    border: solid thin $primary-cell-color;
    color: set-text-color($secondary-cell-color);
    background-color: $secondary-cell-color;
    border-radius: 5px;
    @include easeOut;
    &:hover {
      color: set-text-color($secondary-color);
      box-shadow: 1px 1px 5px black;
      background: $secondary-color;
    }
  }
  #infos {
    grid-area: infos;
    #flag-toggle {
      display: none;
      align-items: center;
      padding: 2%;
      margin: 5%;
      cursor: pointer;
      border: solid thin $primary-cell-color;
      color: set-text-color($secondary-cell-color);
      background-color: $secondary-cell-color;
      border-radius: 5px;
      @include easeOut;
      &.active {
        color: set-text-color($secondary-color);
        box-shadow: 1px 1px 5px black;
        background: $secondary-color;
      }
    }
  }
  .infos {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }

  #buttons {
    position: relative;
    grid-area: buttons;
    height: 100%;
  }
  #buttons2 {
    display: none;
  }
  .button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
