$start-color: #2ecc71;
$end-color: tomato;

#pathfinding {
  width: 100%;
  margin-bottom: 2rem;
  .lg-heading {
    margin: 4rem;
  }
  #buttons {
    display: flex;
    justify-content: space-evenly;
    .button {
      border: solid thin set-text-color($primary-color);
      border-radius: 2px;
      width: 100px;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer;
      &.true {
        background-color: $start-color;
        color: set-text-color($start-color);
      }
      &.false {
        background-color: $end-color;
        color: set-text-color($end-color);
      }
      &.hover:hover {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
      }
    }
  }
  #grid {
    // justify-content: center;
    display: grid;
    width: 100%;
    margin: auto;
    .node {
      position: relative;
      cursor: pointer;
      width: 100%;
      padding-bottom: 100%;
      border: solid 1px $primary-cell-color;
      background-color: $secondary-cell-color;
      div {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 50%;
        font-size: 1.1vw;
        transform: translate(0, -50%);
        text-align: center;
        i {
          display: none;
          margin: auto;
        }
      }
      &.start {
        background-color: $start-color;
        border-color: $secondary-cell-color;
        cursor: move;
        i.istart {
          display: block;
          color: set-text-color($start-color);
        }
      }
      &.end {
        background-color: $end-color;
        border-color: $secondary-cell-color;
        cursor: move;
        i.iend {
          display: block;
          color: set-text-color($end-color);
        }
      }
      &.visited {
        background-color: $primary-cell-color;
        border-color: $secondary-cell-color;
      }
      &.path {
        background-color: $secondary-color;
        border-color: $secondary-cell-color;
      }
      &.wall {
        background-color: black;
        border-color: $secondary-cell-color;
      }
      &.checked {
        background-color: red;
      }
      &.weight {
        i.iweight {
          display: block;
          color: set-text-color($secondary-cell-color);
        }
        &.visited {
          i.iweight {
            color: set-text-color($primary-cell-color);
          }
        }
        &.path {
          i.iweight {
            color: set-text-color($secondary-color);
          }
        }
      }
    }
  }
}
